.input {
  background: white;
  width: 320px;
  height: 30px;
  padding: 7px;
  padding-left: 34px;
  border: none;
  outline: none;
  border-radius: 6px;
  border:1px solid rgb(206, 206, 206);
}
.input::placeholder {
  color: rgb(194, 194, 194);
  font-family: "Readex Pro";
}
.button {
  background: none;
  position: absolute;
  border: none;
  top: 15px;
  left: 5px;
}
.inputBlock {
  position: relative;
  display: flex;
  align-items: center;
}
.searchIcon {
  width: 15px;
  height: 17px;
}
@media screen and (max-width:880px) {
  .input{
    width: 215px;
  }
  .searchIcon{
    margin-top: -15px;
    width: 13px;
    height: 15px;
  }
}
@media screen and (max-width:580px) {
  .input{
    width: 180px;
    padding: 5px;
    padding-left: 30px;
  }

}
@media screen and (max-width:360px) {
  .input{
    width: 140px;
    padding: 5px;
    padding-left: 30px;
  }

}
