.pet {
  display: inline-block;
  margin: 15px 20px;
  text-align: center;
  .img {
    margin-bottom: 5px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .name {
    margin: 0 auto;
  }
}
