.wrapper{
    padding-top: 30px;
    padding-left: 100px;
}
.blockAdd{
    display: flex;
    max-width: 540px;
    justify-content: space-between;
}
.mr{
    margin-right: 10px;
}
.wrapper{
    display: flex;
}
.title{
    margin-bottom: 30px;
}
.blog{
    margin-bottom: 10px;
}