.wrapper{
    padding-top: 30px;
    padding-left: 100px;
}
.blockAdd{
    display: flex;
    max-width: 540px;
    justify-content: space-between;
}
.mr{
    margin-right: 10px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.title{
    margin-bottom: 30px;
    margin-top: 15px;
}
.title2{
    margin-bottom: 30px;
    margin-top: 30px;
}
.blog{
    margin-bottom: 10px;
}
.right{
    max-width: 400px;
    width: 100%;
}
.left{
    width: 100%;
}