@import "../../assets/variables.module.scss";

.container {
  width: 100%;
}
.header {
  top: 0;
  position: sticky;
  z-index: 2;
}
.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 80px;
  @media (max-width: 1000px) {
    padding: 0 40px;
  }
}
.main {
  display: flex;
}
.bar {
  margin-top: 20px;
  margin-right: 60px;
  position: sticky;
  top: 95px;
}
.outlet {
  width: 90%;
}
