.background {
  width: 100%;
  background-color: #fff;

  .wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 80px;

    @media (max-width: 1000px) {
      padding: 0 40px;
    }
    .header {
      display: flex;
      padding: 10px 0;
      align-items: center;
    }
  }

  .logo {
    margin-right: 35px;
  }
}
.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
@media screen and (max-width: 980px) {
  .logo {
    img {
      width: 100px;
      height: 35px;
    }
  }
}
@media screen and (max-width: 720px) {
  .arrow {
    margin-top: 15px;
    margin-right: 40px;
  }
}
@media screen and (max-width: 540px) {
  .arrow {
    position: absolute;
    left: 10px;
    top: 55px;
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 385px) {
  .logo img {
    width: 72px;
    height: 30px;
  }
}
