@import "../../assets/variables.module.scss";

p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  cursor: pointer;
}

.wrapper {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  color: $JET;
  font-size: 16px;
  align-items: center;
  display: flex;
  .folowed {
    color: $YELLOW-ORANGE;
    font-size: 14px;
    margin-left: 10px;
    background: none;
    border: none;
  }
}
.post {
  border-radius: 30px;
  max-width: 750px;
  height: auto;
  background: #ffffff;
  padding: 10px 0px;
  -webkit-box-shadow: 5px 9px 16px 3px rgba(191, 191, 191, 1);
  -moz-box-shadow: 5px 9px 16px 3px rgba(191, 191, 191, 1);
  box-shadow: 5px 9px 16px 3px rgba(191, 191, 191, 1);
  margin: 20px 10px;
}

.img {
  width: 100%;
}
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $DARK_GRAY;
  .headerButton {
    background: none;
    border: none;
    padding: 0;
    margin-top: 6px;
    margin-left: 10px;
    color: $DARK_GRAY;
  }
  p {
    padding: 0;
    margin: 0;
    font-size: 14px;
  }
}
.postComents {
  width: 100%;
  h2 {
    font-size: 20px;
    color: $JET;
    margin-top: 15px;
    margin-bottom: 12px;
    font-weight: 500;
    span {
      color: $GRAY;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
.setting {
  padding: 0px 16px 10px 16px;
  display: flex;
  border-bottom: 1px solid $LIGHT_GRAY;
  justify-content: space-between;

  button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
  }
  .likedButton {
    color: red;
    height: 20px;
    width: 20px;
    margin-top: 2px;
    margin-right: 3px;
  }
  .dislikedButton {
    color: $DARK_GRAY;
    height: 20px;
    width: 20px;
    margin-top: 2px;
    margin-right: 3px;
  }
  .dislikedNumber {
    color: $DARK_GRAY;
  }
  .footerLeft {
    display: flex;
    align-items: center;
  }
  .likedNumber {
    color: red;
    font-size: 16px;
  }
  .footerRight {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .share {
    margin-right: 20px;
    margin-top: 6px;
    color: $DARK_GRAY;
  }
  .chat {
    height: 20px;

    color: $YELLOW-ORANGE;
  }
  .dischat {
    height: 20px;
    color: $DARK_GRAY;
  }
  .description {
    font-size: 15px;
    color: $JET;
  }
}
